    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <p class="navbar-brand">現在播放:{{course.name}}</p>
            {% comment %} 導覽列於小畫面用的按鈕 {% endcomment %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% comment %} 導覽列於小畫面用的按鈕 {% endcomment %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% comment %} <a class="nav-link" href="{% url 'course-url' 0 %}">李宏毅-機器學習</a> {% endcomment %}
                    {% comment %} <a class="nav-link" href="{% url 'course-url' 1 %}">林軒田-機器學習基石</a> {% endcomment %}
                    {% comment %} <a class="nav-link" href="{% url 'course-url' 2 %}">吳尚鴻-深度學習</a> {% endcomment %}
                    {% comment %} <a class="nav-link"  href="{% url 'course-url' 3 %}">莫煩-強化學習</a> {% endcomment %}
                    {% for t in course_list %}
                        <a class="nav-link" href="{% url 'course-url' forloop.counter0 %}">{{t.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>