<!-- about.html -->
<!DOCTYPE html>
<html>
    <head>
    <meta charset='utf-8'>
    <title>About Myself</title>
    </head>
    <body>
    <h2>Min-Huang Ho</h2>
    <hr>
        <p>
        Hi, I am Min-Huang Ho. Nice to meet you!
        </p>
    <em>今日佳句：{{ quote }}</em>
    <br>
    <hr>
    全部佳句內容:<br>
    {{quotes}}
    <br>
    <hr>
    </body>
</html>
