<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{p.name}}</title>
    </head>
    <body>
        <h2>{{p.name}}</h2>
        <hr>
        <table width=400 border=1 bgcolor='#ccffcc'>
             {% comment %} {{tags}} {% endcomment %}
            {% comment %} solution 1. {% endcomment %}
            {% comment %} {{tags | safe}} {% endcomment %}
            {% comment %} solution 2. {% endcomment %}
            <tr><td>品項編號</td><td>{{p.id}}</td></tr>
            <tr><td>品項名稱</td><td>{{p.name | upper}}</td></tr>
            <tr><td>建議售價</td><td>{{p.price}}</td></tr>
            <tr><td>庫存數量</td><td>{{p.qty}}</td></tr>
        </table>
        <a href='/list'>回列表</a>
        <hr>
        <br>
        測試:空白的渲染記號:
        結為: {{empty}} ///
    </body>
</html>
